.box .game-icon {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.25rem;
}

.box{
	position:relative;
}

/* Navbar centre for our dc banner */
.navbar {
	min-height: auto;
}
.navbar .navbar-brand {
  min-height: auto;
  text-align: center;
  display: block;
  width: 100%;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}